In [61]:
lists=["Sub-fields in AI are:","MachineLearning", "Neural Networks", "Vision", "obotics", "Speech Processing", "Natural Language Processing"]
def AIfields():
    for subfieldsinAI in lists:
        print(subfieldsinAI)

In [63]:
AIfields()

Sub-fields in AI are:
MachineLearning
Neural Networks
Vision
obotics
Speech Processing
Natural Language Processing

In [75]:
def num1():
    num=int(input("Enter a num:"))
    if((num%2)==0):
        print(num,"is Even number")
    else:
        print(num,"Odd number")

In [77]:
num1()

Enter a num: 52452

52452 is Even number

In [119]:
Gender=input("your gender:")
age=int(input("your age:"))
if(age<25):
   print("NOT ELIGIBLE")
else:
   print("ELIGIBLE")

your gender: MALE
your age: 20

NOT ELIGIBLE

In [137]:
def ElegiblityForMarriage():
    Gender=input("your Gender:")
    age=int(input("your Age:"))
    if(age<25):
       print("NOT ELIGIBLE")
       EFM="NOT ELIGIBLE"
    else:
       print("ELIGIBLE")
       EFM="NOT ELIGIBLE"
    return EFM

In [143]:
Marriageindex=ElegiblityForMarriage()

your Gender: MALE
your Age: 20

NOT ELIGIBLE

In [145]:
Marriageindex

'NOT ELIGIBLE'

In [151]:
Marriageindex=ElegiblityForMarriage()

your Gender: MALE
your Age: 20

NOT ELIGIBLE

In [203]:
Sub1=int(input("Subject1="))
Sub2=int(input("Subject2="))
Sub3=int(input("Subject3="))
Sub4=int(input("Subject4="))
Sub5=int(input("Subject5="))
Total=Sub1+Sub2+Sub3+Sub4+Sub5
print("Total:",Total)
percentage=float(Total)*(100/500)
print("percentage:",percentage)

Subject1= 98
Subject2= 87
Subject3= 95
Subject4= 95
Subject5= 93

Total: 468
percentage: 93.60000000000001

In [225]:
# calculate the percentage of your 10th mark using function
def percentage():
    Sub1=int(input("Subject1="))
    Sub2=int(input("Subject2="))
    Sub3=int(input("Subject3="))
    Sub4=int(input("Subject4="))
    Sub5=int(input("Subject5="))
    Total=Sub1+Sub2+Sub3+Sub4+Sub5
    print("Total:",Total)
    percentage=float(Total)*(100/500)
    print("percentage:",percentage)

In [227]:
percentage()

Subject1= 98
Subject2= 87
Subject3= 95
Subject4= 95
Subject5= 93

Total: 468
percentage: 93.60000000000001

In [233]:
Height=32
Breadth=34
Areaformula=(Height*Breadth)/2
print(Areaformula)

544.0

In [ ]:
Height=int(input("Height:"))
Breadth=int(input("Breadth:"))
Areaformula=(Height*Breadth)/2
print("Areaformula=(Height*Breadth)/2")
print("Area of Triangle:",Areaformula)
Height1=int(input("Height1:"))
Height2=int(input("Height2:"))
Breadth2=int(input("Breadth2:"))
print("Perimeter formula: Height1+Height2+Breadth")
Perimeterformula=Height1+Height2+Breadth2
print("Perimeter of Triangle:",Perimeterformula)

In [251]:
#print area and perimeter of triangle using class and functions
def triangle():
    Height=int(input("Height:"))
    Breadth=int(input("Breadth:"))
    Areaformula=(Height*Breadth)/2
    print("Areaformula=(Height*Breadth)/2")
    print("Area of Triangle:",Areaformula)
    Height1=int(input("Height1:"))
    Height2=int(input("Height2:"))
    Breadth2=int(input("Breadth2:"))
    print("Perimeter formula: Height1+Height2+Breadth")
    Perimeterformula=Height1+Height2+Breadth2
    print("Perimeter of Triangle:",Perimeterformula)

In [255]:
triangle()

Height: 32
Breadth: 34

Areaformula=(Height*Breadth)/2
Area of Triangle: 544.0

Height1: 2
Height2: 4
Breadth2: 4

Perimeter formula: Height1+Height2+Breadth
Perimeter of Triangle: 10